@import "tailwindcss";
@plugin "daisyui" {
    themes:
        dark --default,
        dim;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion) {
    *,
    ::before,
    ::after {
        animation: none;
    }
}
